@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 10;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
/* Hide the scrollbar for all browsers */
html,
body {
    overflow-x: hidden;
    scrollbar-width: none;
    /* For Firefox */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
}

/* Prevent extra spacing or scrolling issues */
.hello {
    max-width: 100vw;
    overflow: hidden;
}


.foot-cont {
    @apply list-none text-sm text-gray-500
}

html {
    scroll-behavior: smooth;
}

/* dealership*/

.container {
    @apply mx-auto px-8 md:px-16 lg:px-24
}


.exp-card {
    @apply w-[300px] cursor-pointer rounded-md bg-[#f5f7fa] h-44 text-center px-3 py-7 self-end relative delay-100 duration-700
}

.exp-div-card {
    @apply flex items-center justify-center
}

.exp-card-active {
    @apply h-80 max-md:h-44 duration-700 delay-100 bg-slate-50
}

/*Awards*/

.proj-div {
    @apply px-6 pb-6 rounded-lg hover:shadow-lg transform transition-transform duration-500 hover:scale-110 cursor-pointer
}





