#app {
    height: 100%;
}


.swiper {
    width: 100%;
    height: 100%;
}

.hero-swiper {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-swiper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    background: #fcfcfc;
    color: #000;
    overflow-x: hidden;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.hero-swiper {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .hero-swiper {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .hero-swiper-thumb-active {
    opacity: 1;
}

.hero-swiper img {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
}